.container {
  flex-basis: 15%;
  background-color: rgb(107, 107, 107);
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.17);
  padding: 30px;
  color: white;
}
